<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pdt">
	<insert id="insert" parameterType="ProductDTO">
		INSERT INTO tbl_product(pname, pprice, pcnt)
		VALUES(#{pname}, #{pprice}, #{pcnt})
	</insert>
</mapper>